{% extends 'accounts/base.html' %}
{% block content %}
    <h2>Carpool Requests for your Trip</h2>
    <p>Trip: {{ trip.start_node }} → {{ trip.end_node }}</p>
    <hr>
    {% for carpool_request in carpool_requests %}
    {% for id in offered_request_ids %}
    <p>offered id: {{ id }}</p>
{% endfor %}
        <div>
            <p>Passenger: {{ carpool_request.passenger.username }}</p>
            <p>Pickup: {{ carpool_request.pickup_node }}</p>
            <p>Dropoff: {{ carpool_request.dropoff_node }}</p>
            {% if carpool_request.pk in offered_request_ids %}
                <p>Offer already made</p>
            {% else %}
                <form method="POST" action="{% url 'carpool_offer_create' trip.pk carpool_request.pk %}">
                    {% csrf_token %}
                    <button type="submit">Make Offer</button>
                </form>
            {% endif %}
        </div>
        <hr>
    {% empty %}
        <p>No carpool requests near your route.</p>
    {% endfor %}
{% endblock %}